* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}    



@media only screen and (max-width:600px) {
    .dissapearImag{
        display: none;        
    }
}

@media only screen and (max-width: 600px) {    
    .smallScreen {       
        background-color:#B2BDBC;   
        text-align: center; 
        font-size: 40px;
       
       
    } 
}

.largeScreen {
    background-color:#B2BDBC; 
    text-align:right;
    float:right;
    margin: 50% 5% auto 5%;
    font-size: 2vw;
    border: 6px solid #B2BDBC;
    padding:10px;
}

.container {
    
   
}
body{
     background-image: url(background.jpg);
    background-size: 100% 100%;
}

.appearImag {
    width:50%;
    float:left;
    margin-left: 5%;
    margin-top: 50%;
    
}
