*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y: hidden; 
    overflow-x: hidden;
    font-family: monospace
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}

.container{
    width: 50%;
    height: 40%;
    margin: 30% auto;
    text-align: center;
    border: 5px solid black;
    padding:20;
    transition-duration: .25s;
    
}

h1{
    text-transform:uppercase;
    font-size: 50px;
    background-color:black;
    color:white;
    opacity:.8;
    border-radius: 25px
}

.container input[type="text"], input[type="password"]{
    font-size:20px;
    display: block;
    background: black;
    margin: 40 auto;
    border: 6px solid #black;
    padding: 12;
    color:white;
    border-radius: 24px;
    outline: none;
    transition-duration: .25s;
}

.container input[type="text"]:focus, input[type="password"]:focus{
    border-color:#EA8021;
    border-width: 3px;
    width: 400;
}

.container input[type="submit"]{
    padding:10; 
    width:250;
    background:black;
    color:white;
    font-size: 20px;
    outline: none;
    border-radius: 24px;  
    transition-duration: .25s;
}

.container input[type="submit"]:hover{
    border-color:#EA8021;
    border-width: 3px;
    width: 400; 
}