*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-y: auto; 
    overflow-x: hidden;
    font-family: monospace
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}

h2{
    font-size: 190%;
}

.container{
    width: 50%;
    
    margin: 10% auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
    padding:5%;
    transition-duration: .25s;
    
}
.footer{
    position: absolute;
    bottom:0;
    width:100%;
    background-color:white;
    padding: .1%;
}

h1{
    text-transform:uppercase;
    font-size: 5vw;
    background-color:black;
    color:white;
    opacity:.8;
    border-radius: 25px;
   
    width: 100%;

    
}

.container input[type="text"], input[type="password"]{
    font-size:2.5vw;
    display: block;
    background: black;
    margin: 7% auto;
    border: 6px solid #black;
    padding: 12;
    color:white;
    border-radius: 24px;
    outline: none;
    transition-duration: .25s;
}

.container input[type="text"]:focus, input[type="password"]:focus{
    border-color:#EA8021;
    border-width: 3px;
    width: 100%;
}

.container input[type="submit"]{
    padding:10; 
    width:32vw;
    background:black;
    color:white;
    font-size: 3vw;
    outline: none;
    border-radius: 24px;  
    transition-duration: .25s;
}

.container input[type="submit"]:hover{
    border-color:#EA8021;
    border-width: 3px;
    width: 100%; 
}